/*
  --------------------------------------------------------------------
  --------THIS STYLE SHEET IS RELATED TO THE PRODUCT CARD-------------
  --------------------------------------------------------------------
*/


@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@font-face {
  font-family: spartan;
  src: url("../fonts/spartan/static/Spartan-Bold.ttf");
  font-family: spartan_reg;
  src: url("../fonts/spartan/static/Spartan-Regular.ttf");
  font-family: spartan_semi;
  src: url("../fonts/spartan/static/Spartan-SemiBold.ttf");
}

*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --grey1: #212529;
  --grey2: #343a40;
  --grey3: #495057;
  --grey4: #6c757d;
  --grey5: #adb5bd;
  --grey6: #ced4da;
  --grey7: #dee2e6;
  --grey8: #e9ecef;
  --grey9: #f8f9fa;
  --grey10: #f8f9fa;
  --red: #ff2019;
}
body {
  font-family: spartan_semi;
}
a {
  text-decoration: none;
}
.product-card {
  width: 350px;
  /* height: 550px; */
  position: relative;
  /* box-shadow: 0 2px 7px #dfdfdf; */
  margin: 20px 20px;
  background: white;
  /* box-shadow: 5px 5px  5px #aaaaaa; */
  transition: 0.5s;
  border-radius: 5px;
}
.product-card:hover{
  /* box-shadow: 10px 10px  10px 5px #aaaaaa; */
  transform: scale(1.05);
  transition: 0.5s;
  
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 50px;
  /* background-image: url('../IMG/v3_26.png'); */
  background-size:contain;
}

.product-tumb img {
  /* max-width: 100%; */
  height: 230px;
  /* width: 200px; */
  
}

@media (max-width: 991px){
  .product-tumb img {
    max-width: 100%;
    
    
    
  }
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: var(--red);
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: var(--red);
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: var(--red);
}


@media (max-width: 991px){
    .product-links a{
        color: var(--red);
    }
    .product-card:hover{
        transform: scale(1);

    }
}

