:root {
  --grey1: #212529;
  --grey2: #343a40;
  --grey3: #495057;
  --grey4: #6c757d;
  --grey5: #adb5bd;
  --grey6: #ced4da;
  --grey7: #dee2e6;
  --grey8: #e9ecef;
  --grey9: #f8f9fa;
  --grey10: #f8f9fa;
  --red: #ff2019;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -26px;
  margin-left: -26px;
  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  z-index: 1;

  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #eceff1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  text-align: center;
  color: #000;
  z-index: 99;
  font-family: "Roboto", sans-serif;
  font-size: 30px !important;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  float: left;
}
.menu__item:hover {
  background-color: #cfd8dc;
  color: var(--red);
}